<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="RU">
    <head>
        <link type="text/css" rel="stylesheet" href="../WEB-INF/style.css">
        <script type="text/javascript" src="../WEB-INF/script.js"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta charset="utf-8">
        <title>WheelNeuron</title>
    </head>
    <body>
        <h2>Последние цвета</h2>
        <table>
            <tr>
                <td class="blackColor"></td>
                <td class="redColor"></td>
                <td class="blueColor"></td>
                <td class="goldColor"></td>
                <td class="blackColor"></td>
                <td class="redColor"></td>
                <td class="blueColor"></td>
                <td class="goldColor"></td>
                <td class="blackColor"></td>
                <td class="redColor"></td>
                <td class="blueColor"></td>
                <td class="goldColor"></td>
            </tr>
        </table>
    </body>
</html>
